<div class="contents row">
  <% @furima.each do |furima| %>
    <div class="content_post" style="background-image: url(<%= furima.image %>);">
      <p><%= furima.text %></p>
      <span class="name">
        <%= furima.name %>
      </span>
    </div>
  <% end %>
</div>